  
    <div class="container-fluid" id="header">
	<div class="container">
		<div class="row">
			<div id="wordmark-wrapper" class="col-sm-6">
<!-- <h1 class="text-muted" style="display: none; position: fixed;">Loyola University Chicago</h1> -->
				<a href="http://www.luc.edu"><img class="img-responsive" id="wordmark" src="http://www.luc.edu/media/home/images/luc-logo.png" /></a> 
			</div>
			<div id="global-form-wrapper" class="col-md-4 col-sm-6 col-md-offset-2">
				<div class="row">
					<nav id="global" class="navbar navbar-inverse">
						<div id="navbar-global">
							<ul class="nav navbar-nav" id="global-links" role="navigation">
								<li><a href="http://www.luc.edu/a-z/index.html">A&ndash;Z</a></li>
								<li><a href="http://www.luc.edu/about/contactus.shtml">Contact</a></li>
								<li><a href="http://www.luc.edu/directories/index.shtml">Directories</a></li>
								<li><a href="http://www.luc.edu/locus/">LOCUS</a></li>
								<li><a href="http://www.luc.edu/give/">Support</a></li>
							</ul>
						</div>
<!-- NAVBAR-GLOBAL -->
					</nav>
				</div>
				<div class="row">
					<form id="global-form" class="col-sm-6">
						<div class="input-group search-wrapper">
							<div class="input-group-btn links">
								<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Links</button> 
								<ul class="dropdown-menu" role="menu">
<!-- Media include : Global Quick Links -->
<!-- build:globalquicklinks -->
									<ul class="first-of-type">
										<li class="yuimenuitem"><a href="http://outlook.luc.edu">E-Mail</a></li> 
										<li class="yuimenuitem"><a href="http://sakai.luc.edu/">Sakai</a></li>
										<li class="yuimenuitem"><a href="http://www.luc.edu/kronos">KRONOS Timecard</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/locus/">LOCUS</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/password">Password Self-service</a></li>
										<li class="yuimenuitem"><a href="http://lawson.luc.edu">Employee Self-service</a></li>
									</ul>
									<ul class="second-of-type">
										<li class="yuimenuitem"><a href="http://www.luc.edu/academicaffairs/index.shtml">Academic Affairs</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/advancement/">Advancement</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/advising/">Advising</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/adult-education">Admission: Adult B.A.</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/gpem">Admission: Grad/Prof</a></li>
										<li class="yuimenuitem"><a href="http://www.luc.edu/internationaladmission/">Admission: International</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/undergrad/">Admission: Undergrad</a></li> 
										<li class="yuimenuitem"><a href="http://alumni.luc.edu">Alumni Relations</a></li> 
										<li class="yuimenuitem"><a href="http://www.loyolaramblers.com">Athletics</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/info/bookstore.shtml">Bookstore</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/bursar">Bursar's Office</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/campusministry/index.shtml">Campus Ministry</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/students/career/">Career Centers</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/academics/schools.shtml">Colleges and Schools</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/conference">Conference Services</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/adult-education">Continuing Education</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/idea/">Course Evaluations IDEA</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/cuneo">Cuneo Mansion & Gardens</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/dining">Dining Services</a></li> 
										<li class="yuimenuitem"><a href="http://luc.edu/emeriti/">Emeriti Faculty Caucus</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/experiential/eportfolio/">ePortfolio </a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/esl/">ESL</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/exec-ed">Executive Education</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/facilities/">Facilities</a></li> 
										<li class="yuimenuitem"><a href="http://www.digitalmeasures.com/login/luc/faculty/authentication/authenticateShibboleth.do">Faculty Activity System</a></li>
										<li class="yuimenuitem"><a href="http://www.luc.edu/finance">Finance</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/finaid">Financial Aid</a></li> 
<!--<li class=yuimenuitem><a href="http://www.luc.edu/hub">Hub</a></li>-->
										<li class="yuimenuitem"><a href="http://www.luc.edu/hr">Human Resources</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/its">Information Technology Services</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/sustainability/">Institute of Environmental Sustainability</a></li> 
										<li class="yuimenuitem"><a href="http://libraries.luc.edu/">Libraries</a></li> 
<!--<li class=yuimenuitem><a href="http://www.luc.edu/alert/">Loyola Alert</a></li>-->
<!--<li class=yuimenuitem><a href="http://www.loyolaflats.com/">Loyola Flats</a></li>-->
										<li class="yuimenuitem"><a href="http://luc.box.com">LUC Box</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/luma/">LUMA</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/campusministry/sacramental_life/index.shtml">Madonna della Strada Chapel</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/news/">Media Relations</a></li> 
<!--<li class=yuimenuitem><a href="http://www.luc.edu/conference">Meetings and Events</a></li>-->
										<li class="yuimenuitem"><a href="http://www.luc.edu/firstyearexperience">Office of First Year Experience</a></li> 
<!--<li class=yuimenuitem><a href="http://alumni.luc.edu/site/PageNavigator/lucpa">Parents Resources</a></li>-->
<!--<li class=yuimenuitem><a href="http://www.loyolaphoenix.com">The Phoenix</a></li>-->
<!--<li class=yuimenuitem><a href="http://www.luc.edu/summerscholars">Pre-collegiate Summer</a></li>-->
										<li class="yuimenuitem"><a href="http://www.luc.edu/president">President's Office</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/presidentialsearch">Presidential Search</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/ramblerbuzz/">Rambler Buzz</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/regrec">Registration and Records</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/reslife">Residence Life</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/retreatcampus">Retreat & Ecology Campus</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/romecenter">Rome Center</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/safety">Security/Police</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/studentdevelopment">Student Development</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/studyabroad">Study Abroad</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/summer">Summer Sessions</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/tutoring">Tutoring</a></li> 
										<li class="yuimenuitem"><a href="http://www.luc.edu/policy">University Policies</a></li> 
<!--<li class=yuimenuitem><a href="http://www.luc.edu/universitysenate">University Senate</a></li>-->
<!--<li class=yuimenuitem><a href="http://www.luc.edu/scps/resources/veteranseducationalbenefits/">Veterans Resources</a></li></li>-->
										<li class="yuimenuitem"><a href="http://www.luc.edu/writing/">Writing Center</a></li>
									</ul>
<!-- endbuild -->
								</ul>
							</div>
<!-- INPUT-GROUP-BTN -->
							<input type="text" class="form-control" aria-label="..." placeholder="Search">
							<span class="input-group-btn search"> <button class="btn btn-default btn-sm" type="button"><i class="glyphicon glyphicon-search"></i></button> </span> </input>
						</div>
<!-- INPUT-GROUP -->
					</form>
				</div>
			</div>
<!-- GLOBAL-FORM-WRAPPER -->
		</div>
	</div>
</div>