.bg-transparent				{ background-color: none; }
.bg-white							{ background-color: $white; }

/* BACKGROUND GRAY */
.bg-gray-dark 				{ background-color: $gray-dark; }
.bg-gray-extra-dark 	{ background-color: $gray-extra-dark; }
.bg-gray-light 				{ background-color: $gray-light; }
.bg-gray-extra-light 	{ background-color: $gray-extra-light; }

/* BACKGROUND GOLD */
.bg-gold 							{ background-color: $gold; }
.bg-gold-dark 				{ background-color: $gold-dark; }
.bg.gold-extra-dark 	{ background-color: $gold-extra-dark; }
.bg.gold-light 				{ background-color: $gold-light; }

/* BACKGROUND OVERLAY */
.bg-overlay { background-color: $bg-overlay; }
.bg-overlay-dark { background-color: $bg-overlay-dark; }
.bg-overlay-extra-dark { background-color: $bg-overlay-extra-dark; }
.bg-overlay-light { background-color: $bg-overlay-light; }
.bg-overlay-extra-light { background-color: $bg-overlay-extra-light; }

/* MAROON */
.maroon { background-color: $maroon; }
.maroon-dark { background-color: $maroon-dark; }
.maroon-extra-dark { background-color: $maroon-extra-dark; }
.maroon-light { background-color: $maroon-light; }
.maroon-extra-light { background-color: $maroon-extra-light; }

/* BACKGROUND GOLD */
.gold	{ background-color: $gold; }
.gold-dark	{ background-color: $gold-dark; }
.gold-extra-dark	{ background-color: $gold-extra-dark; }
.gold-light	{ background-color: $gold-light; }

/* GRAY */
.gray { background-color: $gray; }
.gray-dark { background-color: $gray-dark; }
.gray-extra-dark { background-color: $gray-extra-dark; }
.gray-light { background-color: $gray-light; }
.gray-extra-light { background-color: $gray-extra-light; }

/* LAKE */
.lake { background-color: $lake; }
.lake-dark { background-color: $lake-dark; }
.lake-extra-dark { background-color: $lake-extra-dark; }
.lake-light { background-color: $lake-light; }
.lake-extra-light { background-color: $lake-extra-light }

/* PATINA */
.patina { background-color: $patina; }
.patina-dark { background-color: $patina-dark; }
.patina-extra-dark { background-color: $patina-extra-dark; }
.patina-light { background-color: $patina-light; }
.patina-extra-light { background-color: $patina-extra-light; }

/* TERRACOTTA */
.terracotta { background-color: $terracotta; }
.terracotta-dark { background-color: $terracotta-dark; }
.terracotta-extra-dark { background-color: $terracotta-extra-dark; }
.terracotta-light { background-color: $terracotta-light; }
.terracotta-extra-light { background-color: $terracotta-extra-light; }

/* TAUPE */
.taupe { background-color: $taupe; }
.taupe-dark { background-color: $taupe-dark; }
.taupe-extra-dark { background-color: $taupe-extra-dark; }
.taupe-light { background-color: $taupe-light; }
.taupe-extra-light { background-color: $taupe-extra-light; }

/* END - COLOR */